<!DOCTYPE html>
<html>
    <head>
        <title>{{#if page}}{{page}} &middot; {{/if}}{{name}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="icon" href="/assets/images/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/css/oca.min.css">
    </head>
    <body>
        <div id="wrapper">
            {{{body}}}
            <div id="footer" class="container">
                <ul class="row">
                    <li>&copy; 2016-2017 <a href="https://ifvictr.com" target="_blank">ifvictr</a></li>
                    <li>Source code on <a href="https://github.com/ifvictr/oca" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
        <script src="/assets/js/oca.min.js"></script>
    </body>
</html>