<!DOCTYPE html>
<html>
    <head>
        <title>Error &middot; {{name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
        <link rel="icon" href="/images/favicon.png" type="image/png">
        <link rel="stylesheet" href="/assets/css/oca.min.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="content">
                <div class="big">
                    <span class="name"><span>Error</span></span>
                </div>
                <div class="container">
                    <p>
                        Sorry, but we couldn't find anything here. It could've been removed or most likely, never even existed in the first
                        place. You can <a href="/">click here</a> to go back!
                    </p>
                </div>
            </div>
        </div>
    </body>
</htm>