<div id="header" class="container">
    <h1 class="title">Error</h1>
</div>
<div class="container">
    <p>
        Sorry, but we couldn't find anything here. It could've been removed or most likely, never even existed in the first
        place. You can <a href="/">click here</a> to go back.
    </p>
</div>