<div id="header" class="container">
    <h1 class="title">{{name}}</h1>
</div>
<div class="container">
    <form autocomplete="off" spellcheck="false">
        <input type="text" id="long-url" placeholder="http://...">
        <input type="text" id="alias-url" maxlength="15" placeholder="Alias (optional)">
        <input type="submit" id="shorten-url" value="Shorten">
        <input type="text" id="short-url" placeholder="{{domain}}/" readonly>
        <input type="button" id="copy-url" data-clipboard-target="#short-url" value="Copy">
    </form>
</div>