@import url(https://fonts.googleapis.com/css?family=Roboto:100,400);
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, code, em, strong, b, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, section{
    border: 0;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
*, *:before, *:after{
    box-sizing: border-box;
}
body, input{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
    font-weight: 100;
    line-height: 1;
}
body{
    animation: flow 180s linear infinite;
    -webkit-animation: flow 180s linear infinite;
    background: linear-gradient(270deg, #ad2a2a, #ad6e2a, #acad2a, #78ad2a, #2dad2a, #2aad83, #2aa3ad, #2a7aad, #2a4cad, #642aad, #932aad, #ad2a99);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 2400% 2400%;
}
@keyframes flow{ 
    0%{
        background-position: 0% 51%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 51%;
    }
}
@-webkit-keyframes flow{ 
    0%{
        background-position: 0% 51%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 51%;
    }
}
a{
    color: inherit;
    text-decoration: none;
}
em, i{
    font-style: italic;
}
strong, b{
    font-weight: 400;
}
h1{
    font-size: 1.55em;
    font-weight: 400;
}
p{
    font-size: 1.25em;
    line-height: 1.5;
}
ul, ol{
    list-style-type: none;
}
input{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 0;
    font-size: 2.5em;
    max-width: 100%;
    outline: 0;
    padding: 0.5em;
    text-transform: lowercase;
}
input[disabled]{
    background: rgba(255, 255, 255, 0.05) !important;
    cursor: not-allowed;
}
input[type="text"], input[type="url"]{
    background: none;
}
input[type="submit"], input[type="button"]{
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s background ease-in-out;
    -webkit-transition: 0.2s background ease-in-out;
}
input[type="submit"]:hover, input[type="button"]:hover{
    background: rgba(255, 255, 255, 0.15);
}
input[type="submit"]:active, input[type="button"]:active{
    background: rgba(255, 255, 255, 0.2);
}
:-moz-placeholder{
   color: rgba(255, 255, 255, 0.7);
}
::-moz-placeholder{
   color: rgba(255, 255, 255, 0.7);
}
:-ms-input-placeholder{  
   color: rgba(255, 255, 255, 0.7);
}
::-webkit-input-placeholder{
   color: rgba(255, 255, 255, 0.7);
}
#content{
    margin: auto;
    margin-bottom: 2.5em;
    max-width: 60%;
    text-align: center;
    transition: 0.2s all ease-in-out;
    -webkit-transition: 0.2s all ease-in-out;
}
#content > *{
    display: block;
}
#content a{
    border-bottom: 1px dotted #ffffff;
}
#content a:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}
#long-url{
    border-radius: 4px 4px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
#short-url{
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
#copy-url{
    border-bottom-right-radius: 4px;
}
.big{
    font-size: 5em;
    margin-top: 0.25em;
    padding: 0.25em;
    text-transform: lowercase;
}
.big .name{
    background: rgba(42, 163, 173, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: default;
    display: inline-block;
    padding: 0.25em;
    transform: skewY(-5deg);
}
.big .name span{
    display: block;
    transform: skewY(5deg);
}
.big .small{
    font-size: 0.35em;
    white-space: nowrap;
}
.row li{
    transition: 0.2s width ease-in-out;
    -webkit-transition: 0.2s width ease-in-out;
}
.row li input{
    width: 100%;
}
.container{
    margin-top: 2.5em;
    text-align: left;
}
.container > *:not(:first-child){
    margin-top: 0.25em;
}
.partial{
    display: inline-block;
}
.fail, .success{
    transition: 0.2s box-shadow ease-in-out;
}
.fail{
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.25);
}
.success{
    box-shadow: 0 0 0 2px rgba(0, 255, 0, 0.25);
}
@media screen and (max-width: 736px){
    body{
        font-size: 10pt;
    }
    #content{
        max-width: 90%;
    }
    .big .small{
        display: block;
        margin-top: 0.5em;
    }
}
@media screen and (max-width: 480px){
    #short-url{
        border-radius: 0;
    }
    #copy-url{
        border-bottom-left-radius: 4px;
    }
    .row li{
        width: 100% !important;
    }
}